<<<<<<< HEAD
body {
    background-color: #EEE;
}
section {
    
    
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px;
    gap: 10px;
}

 .medcin {
    background-color: white;

  
} 
 .image  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
   
}
.medcin .image img{
    width: 100px;
    border-radius: 50%;
}

.medcin h1 {
    text-align: center;
}
.medcin p  {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    background-color: white;
}
 input {
   margin: 5px 0;
   width: 100%;
}
.submit {
    
    width: 100px;
    height: 25px;
    background-color: blue;
    color: white;
    border : none;
    align-self: end;

}
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 50px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    overflow: hidden;
    transition: 0.7s;
    display: block;
}
.container:hover{
    width: 17%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    color: black;
}
.container .logo{
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    background-image: url(OIP.jpg);
    background-size: contain;
    border-radius: 50px;
    transition: 0.7s;
}


.container .menu{
    margin-top: 40px;
    padding-right: 20px;
    margin-left: 10px;
    width: 100%;
    height: 100%;

}
.container .menu ul{
    list-style: none;
}
.container .menu ul a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
}
.container .menu ul li{
    margin-bottom: 30px;
    width: 90%;
    transition: 0.5s;
    padding-left: 10px;
    padding: 10px 0px;
    margin-left: 10px;
    cursor: pointer;
    
}
.container .menu ul i{
    color: rgb(0, 0, 0);
    margin-right: 20px;
    font-size: 15px;
}
.container .menu li:hover, .active{
    color: red;
    background-color: blue;
    padding: 10px 0px; 
    border-radius: 12px;
    padding-left: 10px;
}
.container:hover .logo{
    width: 80px;
    height: 80px;
}


>>>>>>> 51a943443a13ea1092c609921a5ee196ff62f0d0
